@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
p, h1 { font-family: 'Nanum Gothic', sans-serif; }
.section{ 
    overflow:hidden;
    text-align:center;
}
.text{
    width: 727.781px; height: 150px;
    text-align: left;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
.text h1{
    color: white;
    font-size: 4.2em;
    margin: 0 0 0 0;
}
.text p{
    color: white;
    font-size: 1.4em;
    margin:  0 0 0 0;
}
.slide{background-color: beige;}
.slide p{ font-size: 10em;}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button {
  position: static;
  width: 200px;
  height: 200px;
  margin-right: 0px;
  float: none;
  background-color: blue;
  text-align: center;
}

.img {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.button1 {
  width: 145.5562px;
  height: 200px;
  background-color: #A70C00;
}


.button2 {
  width: 145.5562px;
  height: 200px;
  background-color: #BA1C58;
}

.button2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button3 {
  width: 145.5562px;
  height: 200px;
  background-color: #AA0C48;
}

.button3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button4 {
  width: 145.5562px;
  height: 200px;
  background-color: #9A0038;
}

.button4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button5 {
  width: 145.5562px;
  height: 200px;
  background-color: #8A0028;
}

.button5 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upper{
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.upper logo{
    float: left;
}

.upper flex-body{
    float: right;
}

.flex-wrap2 {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  height: 100px;
}

.github {
  margin: 10 10 10 10;
  width: 100px;
  height: 100px;
  
}

.facebook {
  margin: 10 10 10 10;
  width: 100px;
  height: 100px;
  
}

.youtube {
  margin: 10 10 10 10;
  width: 100px;
  height: 100px;
  
}

.blog {
  margin: 10 10 10 10;
  width: 100px;
  height: 100px;
  
}

.twitter {
  margin: 10 10 10 10;
  width: 100px;
  height: 100px;
  
}